
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <article class="card">
  <h2 class="card-header">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
        <h3>Edit Title:</h3>
      <input name="post-title" class="form-input" type="text" value="{{post.title}}" />
       <h3>Edit Post Content:</h3>
       <textarea class="form-textarea">{{post.post_content}}</textarea>
    </div>
    <button type="button" class="update-btn btn">Update post</button>
    <button type="button" class="delete-post-btn btn">Delete post</button>
  </form>
</article>

{{!-- <form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
    <div>
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
  </div>
    {{> comments post.comments}}
  <div>
    <button type="submit" class="btn">add comment</button>
  </div>
</form> --}}
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}
